<%= form_for [@town, @issue] do |f| %>
  <% if @issue.errors.any? %>
    <div id="error_explanation" class="alert alert-warning">
      <h2><%= pluralize(@issue.errors.count, "error") %> prohibited
        this issue from being saved:</h2>
      <ul>
      <% @issue.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
 
  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
    <small>Markdown</small>
  </p>
  <p>
    <%= f.label :town %><br>
    <%= f.select :town, options_for_select(Town.all.map{|s|[s.name, s.id]}, @town.id) %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>