<script>
  ISSUE =  <%= @issue.to_json.html_safe %>
</script>
<div class="container page-issue">
  <div class="row">
    <div class="toc">
      <%= render 'toc' %>
    </div>
    <div class="issue-body">
      <h1><%= h @issue.title %></h1>
      <%= @mdparser.render(@issue.content).html_safe %>
    </div>

    <div class="voting">

      <% if logged_in? %>
      <h2>Vote on this Issue</h2>
      <div class="vote-box">
        <div class="vote-controls">
          <div class="up <% if @user_vote && @user_vote.up %> active <% end %>"><span class="glyphicon glyphicon-ok"></span></div>
          <div class="down <% if @user_vote && !@user_vote.up %> active <% end %>"><span class="glyphicon glyphicon-remove"></span></div>
        </div>
        <div class="results-summary">
          <% total_votes = @votes[:down].count + @votes[:up].count %>
          <div class="headline"><%= total_votes == 0 ? 0 : @votes[:up].count/total_votes*100 %>% of users support this</div>
          <div class="breakdown"><span class="num-total yays"><%=@votes[:up].count%></span> in favor / <span class="num-total nays"><%=@votes[:down].count%></span> opposed</div>
        </div>
      </div>
      <% end %>

      <h3>Statistics</h3>

      <div class="stats">
         
        <small>Voting for</small>
        <%= render ({
        :partial => 'votes/stats',
        :locals => {:votes => @votes[:up]}}) 
        %>

        <small>Voting against</small>
           <%= render ({
        :partial => 'votes/stats',
        :locals => {:votes => @votes[:down]}}) 
        %>

      </div>



    </div>


  </div>
</div>